{% extends "layout.html" %}

{% block content %}
    <header>


        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="index.php" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="course_offerings.php?term=Fall" class="nav-link active">Classes</a></li>
                <li class="nav-item"><a href="register.php" class="nav-link">Register</a></li>
                <li class="nav-item"><a href="login.php" class="nav-link">Login</a></li>


            </ul>
        </nav>

        <hr style="clear:both">
    </header>
    <h1>Login</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3></h3>
            <form name="login" action="login.php" method="get">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <br>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <br class="clear">
                <input class="btn-submit" type="submit" name="submit" value="Login">
            </form>


        </div>

    </div>

{% endblock %}

